Integration to get Crypto Prices from Exchange

In [1]:
import requests

url = "https://python-exchange.azurewebsites.net/api/rest/option_prices"
headers = {
    "Content-Type": "application/json"
}

def request_option_price(stock, expiry, opt_type):
    params = {
        "stock": stock, # "AMZN" "META" "IBM" "GOOG"
        "expiry": expiry,
        "opt_type": opt_type
    }

    response = requests.get(url, headers=headers, params=params)

    if response.status_code == 200:
        data = response.json()
        if data:
            return data.get('option_price', 0.0)
            #for key, value in data.items():
            #    print("{} = {}".format(key, value))
    else:
        print("Error:", response.status_code, response.text)


option_prices = {}

stock = 'META'
one_month = 0.0833
for m in range(12):
    month = m + 1
    expiry = one_month * month
    option_prices['{}m'.format(month)] = { 
        'call': request_option_price(stock, expiry, 'call'),
        'put': request_option_price(stock, expiry, 'put')
    }

print('Pricing calculation finished...')

Pricing calculation finished...

In [2]:
import numpy as np, pandas as pd

table_prices = pd.DataFrame(option_prices)

print('Stock: {}'.format(stock))

table_prices.T

Stock: META

       call     put
1m   10.167   9.985
2m   14.183  13.776
3m   18.703  16.673
4m   20.491  20.512
5m   22.452  23.466
6m   25.371  23.914
7m   29.770  25.930
8m   30.000  27.477
9m   31.314  27.550
10m  29.943  32.081
11m  34.140  30.810
12m  36.041  34.769